/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap/css/bootstrap.min
 *= require_self
 *= require_tree .
 */

 body {
  /*background: #CCCCCC;*/
 }

.bs-docs-sidenav.affix {
  /*top: 40px;*/
}

.bs-docs-sidenav {
  width: 258px;
}

.bs-docs-sidenav {
  background-color: #FFFFFF;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  margin: 20px 0 0;
  padding: 0;
  width: 228px;
}
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}


.bs-docs-sidenav > li > a {}
.bs-docs-sidenav > li > a {
  border: 1px solid #E5E5E5;
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
}

.bs-docs-sidenav > li:first-child > a {
  border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li:last-child > a {
  border-radius: 0 0 6px 6px;
}

.consumptions {
  margin-top: 20px;
}
.consumptions table {
  font-size: 12px;
}
.consumptions .loading-view .progress {
  width: 40%;
  margin: 20px auto;
}



